html {
    font-family: sans-serif;
    background-color: #1f2937;
}

.hero {
    background-color: #1f2937;
    color:#F9FaF8;
}

header {
    font-size:24px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin:0px;
}

header h3 {
    font-weight:900px;
    justify-content: center;
    margin-top:3px;
    margin-bottom:3px;
}

.secondary {
    margin:10%;
}

.block {
}


ul {
    font-size: 18px;
    color:#e5e7eb;
    display:flex;
    list-style-type: none;
    margin:0px;
    padding:0px;
    justify-content: space-evenly;
    gap:20px;
}

.hero img {
    width:40%;
}

.showcase img {
    width:15%;
}