html {
    font-family: sans-serif;
    background-color: #1f2937;
}

.hero {
    background-color: #1f2937;
    color:#F9FaF8;
}

header {
    font-size:24px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin:0px;
}

header h3 {
    font-weight:900px;
    justify-content: center;
    margin-top:3px;
    margin-bottom:3px;
}

.secondary {
    margin:10%;
    display:flex;
    justify-content: space-evenly;
    gap: 5%;
    height: 250px;
}

.secondary img {
    height: auto;
}

h1 {
    padding:0px;
    margin:0px;
}

.block p {
    font-size: 18px;
    color:#d4dbe5;
    margin-top: 1%;
    margin-bottom: 3%;
    height: inherit;
}

.block button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 0px solid white;
    border-radius:4px;
    padding:5px;
    width: 90px;;
}

ul {
    font-size: 18px;
    color:#d4dbe5;
    display:flex;
    list-style-type: none;
    margin:0px;
    padding:0px;
    justify-content: space-evenly;
    gap:20px;
}



.showcase img {
    width:15%;
}